<div id="wrapper">
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <admin-header></admin-header>
    <admin-sidenav></admin-sidenav>
  </nav>
  <div id="page-wrapper" class="container">
    <div class="container">
      <ng-container *ngIf="genres">
        <ul class="portfolio-sorting list-inline text-center">
          <li *ngFor="let genre of genres" style="cursor: pointer">
            <span (click)="onGenreSelected(genre._id)" class="active">
              {{ genre.name }}
            </span>
          </li>
        </ul>
      </ng-container>
    </div>
    <admin-photos-gallery
      [photos]="data"
      [genres]="genres"
      [galleryForm]="galleryForm"
      (selectedImageId)="openSelectedImage($event)"
    >
    </admin-photos-gallery>
    <mat-paginator
      [length]="data2.length"
      [pageSize]="size"
      [pageIndex]="page"
      [pageSizeOptions]="[4, 8, 12]"
      (page)="setPaging($event)"
    >
    </mat-paginator>
  </div>
</div>
