<div class="lightbox-grid square-thumbs">
  <ul class="portfolio-items list-unstyled" id="grid">
    <li
      *ngFor="let image of photos; let i = index"
      class="col-md-4 col-sm-12 col-xs-12 no-gutter"
      style="padding-bottom: 35px"
    >
      <div class="background-image-holder">
        <img
          [src]="image.src"
          class="background-image"
          (click)="openSelectedImage(i)"
          [alt]="image.caption"
        />
      </div>
      <ng-container>
        <button
          type="button"
          class="btn btn-info btn-sm"
          (click)="onEdit(image)"
        >
          Edit
        </button>
        <button
          type="button"
          class="btn btn-danger btn-sm"
          (click)="onDelete(image._id)"
        >
          Delete
        </button>
      </ng-container>
    </li>
  </ul>
</div>
